@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .cstm-scrollbar {
    @apply scroll-smooth scrollbar-thin scrollbar-track-white scrollbar-thumb-secondary-500;
  }
  .cstm-scrollbar-2 {
    @apply scroll-smooth scrollbar-thin scrollbar-track-white scrollbar-thumb-secondary-300;
  }
}

* {
  font-smooth: "always";
  padding: 0px;
  margin: 0px;
}

input[type="password"]::-ms-clear,
input[type="password"]::-ms-reveal {
  display: none;
}

button {
  cursor: pointer;
}

.break-word {
  word-break: break-word;
}

.react-calendar {
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 0.5rem;
  font-size: small;
  padding: 1.25rem;
  gap: 2rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.react-calendar__navigation {
  color: #141522;
  width: 100%;
  background: none;
  margin-top: 8px;
  font-weight: bold;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.react-calendar__navigation__arrow {
  font-weight: 300;
  transform: scale(250%);
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
abbr[title] {
  text-decoration: none;
}

.react-calendar__tile {
  border-radius: 0.2rem;
  width: 1.5rem;
  height: 2rem;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #546fff;
  border-radius: 0.2rem;
}
.react-calendar__tile--now {
  background: #141522;
  font-weight: bold;
  color: #546fff;
  border-radius: 0.2rem;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #141522;
  font-weight: bold;
  color: #546fff;
  border-radius: 0.2rem;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
  border-radius: 0.2rem;
}
.react-calendar__tile--active {
  background: #546fff;
  font-weight: bold;
  color: white;
  border-radius: 0.2rem;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #546fff;
  color: white;
  border-radius: 0.2rem;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
  border-radius: 0.2rem;
}
.react-calendar__tile--range {
  background: #f8f8fa;
  color: #546fff;
  border-radius: 0.2rem;
}
.react-calendar__month-view__weekdays__weekday {
  text-align: center;
  font-weight: 600;
}
.react-calendar__month-view__days__day--neighboringMonth {
  opacity: 0.5;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #546fff;
  height: 0.5rem;
  border-radius: 0.2rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -4px;
  background-color: #222;
  border-radius: 100%;
  height: 1rem;
  width: 1rem;
}

input[type="range"]::-moz-range-track {
  background: #546fff;
  height: 0.5rem;
  border-radius: 0.2rem;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -4px;
  background-color: #222;
  border-radius: 100%;
  height: 1rem;
  width: 1rem;
}

.cstm-scrollbar::-webkit-scrollbar,
.cstm-scrollbar::-webkit-scrollbar-thumb,
.cstm-scrollbar::-webkit-scrollbar-track,
.cstm-scrollbar-2::-webkit-scrollbar,
.cstm-scrollbar-2::-webkit-scrollbar-thumb,
.cstm-scrollbar-2::-webkit-scrollbar-track {
  border-radius: 100vh;
}

[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
  opacity: 0.5;
}
