@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-smooth: "always";
  padding: 0px;
  margin: 0px;
}

input[type="password"]::-ms-clear,
input[type="password"]::-ms-reveal {
  display: none;
}
